################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppInsinghts/WebAppInsinghts/obj/Debug
*.dll
*.xml
*.pdb
*.config
