################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppInsinghts/WebAppInsinghts/obj/Debug
*.dll
*.xml
*.pdb
*.config
/WS/.vs/WS/v15
/WS/packages
/WS/WS/bin/roslyn
/WS/WS/obj/Debug
/WS/WSConsole/bin/Debug
/WS/WSConsole/obj/Debug
