<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section  name="syscache2" type="NHibernate.Caches.SysCache2.SysCacheSection, 
            NHibernate.Caches.SysCache2" requirePermission="false"/>

    <section name="Redis.ServerSettings" type="NHSecondLevelCache.Redis.RedisServerSettings, NHSecondLevelCache" />  
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
 
  <Redis.ServerSettings DefaultDb="3" ConnectionStringOrName="DBEntities" PreferSlaveForRead="true" />
  <!--Começando as configs ....-->
  <connectionStrings>
    <add name="DBEntities" connectionString="Data Source=localhost;Initial Catalog=Produtos; Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="DBEntities2" connectionString="DBEntities"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <syscache2>
    <cacheRegion name="tableDependency" priority="High">
      <dependencies>
        <tables>
          <add name="one" databaseEntryName="DBEntities2" tableName="Itens" />
        </tables>
      </dependencies>
    </cacheRegion>
    <!--</syscache2>
  <syscache2>-->
    <cacheRegion name="ExpireAfterCertainTime" relativeExpiration="5" priority="High"/>
    <!--</syscache2>
  <syscache2>-->
    <cacheRegion name="FiveSecondTimeInterval" relativeExpiration="5" priority="High"/>
  </syscache2>
</configuration>